<div style="text-align: center">
  <pre>{{errorMessage}}</pre>
  <form ng-submit="submit()">
    <h3>Change device name</h3>
    <div class="form-group">
      <input type="text" ng-model="devOldName" name="oldDeviceName" placeholder="Old device name">
    </div>
    <div class="form-group">
      <input type="text" ng-model="devNewName" name="newDeviceName" placeholder="New device name">
    </div>
    <div class="form-group">
      <input type="password" ng-model="password" name="password" placeholder="Password">
    </div>
    <input type="submit" class="btn btn-primary" value="Submit new name of device">
  </form>
</div>