<div style="text-align: center">
    <pre>{{errorMessage}}</pre>
    <form ng-submit="submit()">
      <h3>Change Password</h3>
      <div class="form-group">
        <input type="password" ng-model="oldPassword" name="oldPAssword" placeholder="Old password">
      </div>
      <div class="form-group">
        <input type="password" ng-model="newPassword" name="newPassword" placeholder="New password">
      </div>
      <div class="form-group">
        <input type="password" ng-model="confirmPassword" name="confirmPassword" placeholder="Confirm password">
      </div>
      <input type="submit" class="btn btn-primary" value="Submit new password">
    </form>
</div>
